@import play.api.Play.current

<!DOCTYPE html>
<html>
<head>
  <title>ZKProtoRestful Documentation</title>
  <link href='@routes.Assets.at("swagger/css/typography.css")' media='screen' rel='stylesheet' type='text/css'/>
  <link href='@routes.Assets.at("swagger/css/reset.css")' media='screen' rel='stylesheet' type='text/css'/>
  <link href='@routes.Assets.at("swagger/css/screen.css")' media='screen' rel='stylesheet' type='text/css'/>
  <link href='@routes.Assets.at("swagger/css/reset.css")' media='print' rel='stylesheet' type='text/css'/>
  <link href='@routes.Assets.at("swagger/css/screen.css")' media='print' rel='stylesheet' type='text/css'/>
  <script type="text/javascript" src="@routes.Assets.at("swagger/lib/shred.bundle.js")"></script>
  <script src="@routes.Assets.at("swagger/lib/jquery-1.8.0.min.js")" type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/lib/jquery.slideto.min.js")' type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/lib/jquery.wiggle.min.js")' type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/lib/jquery.ba-bbq.min.js")' type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/lib/handlebars-2.0.0.js")' type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/lib/underscore-min.js")' type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/lib/backbone-min.js")' type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/lib/swagger-client.js")' type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/swagger-ui.js")' type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/lib/highlight.7.3.pack.js")' type='text/javascript'></script>
  <script src='@routes.Assets.at("swagger/lib/marked.js")' type='text/javascript'></script>

  <!-- enabling this will enable oauth2 implicit scope support -->
  <script src='@routes.Assets.at("swagger/lib/swagger-oauth.js")' type='text/javascript'></script>
  <script type="text/javascript">
    $(function () {
      var url = window.location.search.match(/url=([^&]+)/);
      if (url && url.length > 1) {
        url = decodeURIComponent(url[1]);
      } else {
        url = "@{s"${current.configuration.getString("swagger.api.basepath")
          .getOrElse("http://localhost:9000")}/api-docs"}";
      }
      window.swaggerUi = new SwaggerUi({
        url: url,
        dom_id: "swagger-ui-container",
        supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
        onComplete: function(swaggerApi, swaggerUi){
          if(typeof initOAuth == "function") {
            /*
            initOAuth({
              clientId: "your-client-id",
              realm: "your-realms",
              appName: "your-app-name"
            });
            */
          }
          $('pre code').each(function(i, e) {
            hljs.highlightBlock(e)
          });
        },
        onFailure: function(data) {
          log("Unable to Load SwaggerUI");
        },
        docExpansion: "none",
        sorter : "alpha"
      });

      function addApiKeyAuthorization() {
        var key = $('#input_apiKey')[0].value;
        log("key: " + key);
        if(key && key.trim() != "") {
            log("added key " + key);
            window.authorizations.add("api_key", new ApiKeyAuthorization("api_key", key, "query"));
        }
      }

      $('#input_apiKey').change(function() {
        addApiKeyAuthorization();
      });

      // if you have an apiKey you would like to pre-populate on the page for demonstration purposes...
      /*
        var apiKey = "myApiKeyXXXX123456789";
        $('#input_apiKey').val(apiKey);
        addApiKeyAuthorization();
      */

      window.swaggerUi.load();
  });
  </script>
</head>

<body class="swagger-section">
<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="http://swagger.io">swagger</a>
  </div>
</div>
<div class="swagger-ui-wrap">
    <h1 style>ZKProtoRestful API Documentation</h1>
    <p>This is ZKProtoRestful API Documentation page.
        You can find out which functions are provided by ZKProtoRestful API.
        Please check sections carefully. Do not hesitate to contact with developers if you have any further question.
    </p>
</div>
<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
