@(clients: List[Client])(implicit flash: Flash)

<html>
    <head>
        <title>Clients</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/menu.css")">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script type="text/javascript" src="@routes.JavascriptRoute.javascriptRoutes"></script>
        <script src="@routes.Assets.at("javascripts/cookie.js")" type="text/javascript"></script>
    </head>
        <!--  background="@routes.Assets.at("images/zkteco-logo.png")" -->
    <body onload="checkTimeout()">
        <div id="header">
            <div id="logo">
                <span>ZKProto</span>Restful
                <a class="special" href="@routes.Security.logout()">Logout</a>
            </div>
            <div id="title">
                <div class="about">
                </div>
                <nav id="primary_nav_wrap">
                    <ul>
                        <li class="selected"><a href="#" id="clients">Clients</a>
                        </li>
                        <li><a href="#" id="users">Users</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="form">
            <div style="position : relative ;">
                <h1>Clients</h1>
                    <button class="create" type="submit" id="create" on onclick="callCreate()" style="float:right;position:
                    relative;top: 30px; right : 5px ;">Add New Client</button>
            </div>
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            @if(!clients.isEmpty){
                <table id="userTable" class="table"  border="3" align="center">
                    <tr>
                        <th>Id</th>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Zone Name</th>
                        <th>Operation</th>
                    </tr>
                    @for(client <- clients) {
                        <tr>
                            <td id="id">@client._id</td>
                            <td>@client.code</td>
                            <td>@client.description</td>
                            <td>@client.schema_name</td><td>@helper.form(routes.Application.removeClient(client._id)){
                                <button class="delete" type="submit">Delete</button>}
                            </td>
                        </tr>
                    }
                </table>
            } else {
                <h2>There is not any added client!</h2>
            }
        </div>
        <script type="text/javascript">
        var access_token = getCookie('access_token');
        var login = jsRoutes.controllers.Security.login( ).url;
        $("#clients" ).click(function callClients(){
        if(checkSessionTimeout()){
        window.location.href= login;
        }
        else{
        var clients = jsRoutes.controllers.Application.clients( ).url + "?access_token=" + access_token;
        window.location.href= clients;
        }
        });
        $("#users" ).click(function callUsers(){
        if(checkSessionTimeout()){
        window.location.href= login;
        }
        else{
        var users = jsRoutes.controllers.Application.users( ).url + "?access_token=" + access_token;
        window.location.href= users;
        }
        });
        function callCreate(){
        if(checkSessionTimeout()){
        window.location.href= login;
        }
        else{
        var addClient = jsRoutes.controllers.Application.createClient().url + "?access_token=" + access_token;
        window.location.href= addClient;
        }
        }
        $(".delete" ).click(function(){
            var form = $(this ).closest('form');
            if(checkSessionTimeout()){
                //what if token expires before clicking button?
            window.location.href= login;
            }
            else{
            var url = form.attr("action") + "?access_token=" + access_token;
            form.attr("action",url);
            form.submit();
            }
            });
        function checkTimeout(){
        if(checkSessionTimeout()){
        window.location.href= login;
        }
        }
        </script>
    </body>
</html>
